<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">

	<property resource="subscription-api.properties" />

	<!-- Handle JUL -->
	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
		<resetJUL>true</resetJUL>
	</contextListener>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date [%thread] [%file:%line] [%level %logger{0}] - %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${logs.dir}/subscription-api.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${logs.dir}/subscription-api.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>15</maxHistory>
		</rollingPolicy>
		<encoder>
			<charset>UTF-8</charset> 
			<pattern>%date [%thread] [%file:%line] [%level %logger{0}] - %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="HTTP-ACCESS" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${logs.dir}/http_access.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${logs.dir}/http_access_%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>15</maxHistory>
		</rollingPolicy>
		<encoder>
			<charset>UTF-8</charset> 
			<pattern>%date - %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="ACCESS-WARN" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${logs.dir}/warn.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${logs.dir}/warn_%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>15</maxHistory>
		</rollingPolicy>
		<encoder>
			<charset>UTF-8</charset> 
			<pattern>%date - %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="ACCESS-ALERT" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${logs.dir}/warning_access.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${logs.dir}/warning_access_%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>15</maxHistory>
		</rollingPolicy>
		<encoder>
			<charset>UTF-8</charset> 
			<pattern>%date - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="java.sql" level="WARN" />
	<logger name="com.mchange" level="WARN" />
	<logger name="org.apache" level="WARN" />
	<logger name="org.mybatis" level="WARN" />
	<logger name="org.springframework" level="WARN" />
	<logger name="com.yy.cs.center.thrift" level="WARN" />
	<logger name="com.yy.cs.center.remoting" level="WARN" />
	
	<logger name="HTTP-ACCESS" level="INFO" additivity="false">
		<appender-ref ref="HTTP-ACCESS" />
	</logger>
	
	<logger name="ACCESS-WARN" level="INFO" additivity="false">
		<appender-ref ref="ACCESS-WARN" />
	</logger>
	
	<logger name="ACCESS-ALERT" level="INFO" additivity="false">
		<appender-ref ref="ACCESS-ALERT" />
	</logger>

	<root level="${logs.level}">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>

